
<div class='row'>
  <h1><a ng-href='/#/'>Validator Registry</a></h1>
  <div class="row">
    <div class="col-md-12" class="disclaimer"> The Ripple Validator Registry is built and maintained by Ripple Labs, based on data from the Ripple Network. </div>
    <div class="col-md-12" class="disclaimer"> Information is provided "as is" and solely as an informative resource. Data may be delayed or incorrect. </div>
  </div>
  <h3 class='validator-show-domain'>
    <a ng-if="domain" href='https://{{domain}}' class='verified'>{{domain}}</a>
    <a ng-if="!domain" href='https://ripple.com/build/rippled-apis/rippled-setup/#domain-verification' class='unverified'>Unverified</a>
    - {{validatorPublicKey}}
  </h3>
  <h2>Historical Performance</h2>
</div>

<div class='row'>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th>Date</th>
        <th>
          Agreement
          <button type="button" class="tooltip-btn btn btn-default"
            data-placement="top"
            title="The percentage of ledgers that passed consensus that were validated by the validator"
            onmouseenter="$(this).tooltip('show')">?
          </button>
        </th>
        <th>
          Disagreement
          <button type="button" class="tooltip-btn btn btn-default"
            data-placement="top"
            title="The percentage of ledgers validated by the validator that did not pass consensus"
            onmouseenter="$(this).tooltip('show')">?
          </button>
        </th>
        <th>Total Validations</th>
      </tr>
    </thead>
    <tr ng-repeat="report in reports" class='report'>
      <td>{{report.date}}</td>
      <td>{{report.entries[0].agreement_coefficient.toFixed(5)}}</td>
      <td>{{report.entries[0].disagreement_coefficient.toFixed(5)}}</td>
      <td>{{report.entries[0].validations}}</td>
    </tr>
  </table>
</div>

