
<div class='row clipboard-well'>
  <span>
    <!--<div id="copy-button" data-toggle="modal" data-clipboard-text="{{unl_text}}" title="Click to copy me.">-->
    <div ng-if="ValidatorSelector.getSelectedValidators().length > 0" data-target="#myModal" id='copy-button' data-toggle="modal" title="Click to copy me.">
    Build UNL Config
    </div>
  </span>
  <h2>Select a set of validators below for your UNL</h2>
</div>

<div class='loading row' ng-show='loading'>
  <h2>{{status}}</h2>
</div>

<div class='selected-validators row' ng-if="ValidatorSelector.getSelectedCount() > 0">
  <table class='table'>

    <h3>Validators Selected for UNL</h3>

    <tr ng-click ='toggleSelected(validator)'
        ng-repeat="validator in validators"
        ng-if="ValidatorSelector.isSelected(validator)"
        ng-class="{'validator-selected': ValidatorSelector.isSelected(validator)}">
      <td>-</td>
      <td>{{validator.validation_public_key}}</td>
      <td>{{validator.validations_count}}</td>
      <td>{{validator.domain}}</td>
    </tr>

  </table>
</div>

<div class='row' ng-hide='loading'>
  <table class='table table-striped'>

    <thead>
      <tr>
        <th></th>
        <th>Validation Public Key</th>
        <th>Validations Today</th>
        <th>Domain</th>
      </tr>
    </thead>
    <tr ng-click ='toggleSelected(validator)'
        ng-repeat="validator in validators"
        ng-if="!ValidatorSelector.isSelected(validator)"
        ng-class="{'validator-selected': ValidatorSelector.isSelected(validator)}">
      <td>+</td>
      <td>{{validator.validation_public_key}}</td>
      <td>{{validator.validations_count}}</td>
      <td>{{validator.domain}}</td>
    </tr>

  </table>
</div>


<!-- Button trigger modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Copy the following to your rippled.cfg file:</h4>
      </div>
      <div class="modal-body">
        <p>[validators]</p>
        <p ng-repeat="validator in ValidatorSelector.getSelectedValidators()">
          {{ validator.validation_public_key }}&nbsp&nbsp&nbsp&nbsp{{validator.domain }}
        </p>
        <br/>
        <p>[quorum]</p>
        <p>{{ ValidatorSelector.getQuorum() }}</p>
      </div>
        
      <div class="modal-footer">
        <button data-clipboard-text="{{buildUNL()}}" id='copy-clipboard' type="button" class="btn btn-primary">Copy to Clipboard</button>
      </div>
    </div>
  </div>
</div>

