<div class='row'>
  <h1>Validator Registry</h1>
  <hr/>
  <div class='loading row' ng-show='loading'>
    <h2>{{status}}</h2>
  </div>
</div>

<div class='row'>
  <h3 ng-if="ValidatorSelector.getSelectedValidators().length > 0">
    <span class='pull-left'>
      Validators Selected for UNL
    </span>
    <span class='pull-right'>
      <div ng-if="ValidatorSelector.getSelectedValidators().length > 0" data-target="#myModal" id='copy-button' data-toggle="modal">
      Build UNL Config
      </div>
    </span>
  </h3>
</div>

<div class='row' ng-if="ValidatorSelector.getSelectedCount() > 0">
  <table class='table table-striped'>
    <thead class='hidden-thead'>
      <tr>
        <th></th>
        <th>Validation Public Key</th>
        <th>Agreement Coefficient</th>
        <th>Validations Yesterday</th>
        <th>Domain</th>
      </tr>
    </thead>

    <tr
        ng-repeat="validator in validators"
        ng-if="ValidatorSelector.isSelected(validator)"
        ng-class="{'validator-selected': ValidatorSelector.isSelected(validator)}">
      <td class='toggle' ng-click ='toggleSelected(validator)'>-</td>
      <td><a ng-href="/#/validators/{{validator.validation_public_key}}">{{validator.validation_public_key}}</a></td>
      <td>{{validator.agreement_coefficient.toFixed(5)}}</td>
      <td>{{validator.disagreement_coefficient.toFixed(5)}}</td>
      <td>{{validator.validations}}</td>
      <td ng-if="validator.domain">{{validator.domain}}</td>
      <td ng-if="!validator.domain"><a target='_blank' href='https://ripple.com/build/rippled-apis/rippled-setup/#domain-verification'>?</a></td>
    </tr>

  </table>
</div>

<div class='row' ng-hide='loading'>
  <h3 class='pull-left' ng-if="ValidatorSelector.getSelectedValidators().length == 0">Select a set of validators below for your UNL</h3>
  <table class='table table-striped'>

    <thead>
      <tr>
        <th></th>
        <th>Validation Public Key</th>
        <th>Agreement Coefficient</th>
        <th>Disagreement Coefficient</th>
        <th>Validations Yesterday</th>
        <th>Domain</th>
      </tr>
    </thead>
    <tr ng-repeat="validator in validators"
        ng-if="!ValidatorSelector.isSelected(validator)"
        ng-class="{'validator-selected': ValidatorSelector.isSelected(validator)}">
      <td class='toggle' ng-click ='toggleSelected(validator)'>+</td>
      <td><a ng-href="/#/validators/{{validator.validation_public_key}}">{{validator.validation_public_key}}</a></td>
      <td>{{validator.agreement_coefficient.toFixed(5)}}</td>
      <td>{{validator.disagreement_coefficient.toFixed(5)}}</td>
      <td>{{validator.validations}}</td>
      <td ng-if="validator.domain">{{validator.domain}}</td>
      <td ng-if="!validator.domain"><a target='_blank' href='https://ripple.com/build/rippled-apis/rippled-setup/#domain-verification'>?</a></td>
    </tr>

  </table>
</div>


<!-- Button trigger modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Copy the following to your rippled.cfg file:</h4>
      </div>
      <div class="modal-body">
        <p>[validators]</p>
        <p ng-repeat="validator in ValidatorSelector.getSelectedValidators()">
          {{ validator.validation_public_key }}&nbsp&nbsp&nbsp&nbsp{{validator.domain }}
        </p>
        <br/>
        <p>[quorum]</p>
        <p>{{ ValidatorSelector.getQuorum() }}</p>
      </div>
    </div>
  </div>
</div>

