<div class='row'>

  <div class='row well' id='clipboard-well'>
    <span>
      <div id="copy-button" data-clipboard-text="{{unl_text}}" title="Click to copy me.">
      Copy to Clipboard
      <img class='clipboard' src='/images/clipboard.png'/>
      </div>
    </span>
    <h2>Ripple Validator UNL Builder</h2>
  </div>

  <table class='table table-striped'>

    <thead>
      <tr>
        <th>Validation Public Key</th>
        <th>Domain</th>
      </tr>
    </thead>

    <tr ng-repeat="validator in validators">
      <td><a ng-href="/#/validators/{{validator.validation_public_key}}">{{validator.validation_public_key}}</a></td>
      <td>{{validator.domain}}</td>
    </tr>

  </table>

</div>

