
<div class='row'>
  <h1><a ng-href='/#/'>Validator Registry</a></h1>
  <h3 class='validator-show-domain'>
    <a ng-if="domain" href='https://{{domain}}' class='verified'>{{domain}}</a>
    <a ng-if="!domain" href='https://ripple.com/build/rippled-apis/rippled-setup/#domain-verification' class='unverified'>Unverified</a>
    - {{validatorPublicKey}}
  </h3>
  <h2>Historical Performance</h2>
</div>

<div class='row'>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th>Date</th>
        <th>Agreement</th>
        <th>Disagreement</th>
        <th>Total Validations</th>
      </tr>
    </thead>
    <tr ng-repeat="report in reports">
      <td>{{report.date}}</td>
      <td>{{report.entries[0].agreement_coefficient.toFixed(5)}}</td>
      <td>{{report.entries[0].disagreement_coefficient.toFixed(5)}}</td>
      <td>{{report.entries[0].validations}}</td>
    </tr>
  </table>
</div>

