
<div class='row'>
  <h1><a ng-href="/# /">Validator Registry</a></h1>
  <h3 ng-if="domain" class='validator-show-domain'>{{domain}} - {{validatorPublicKey}}</h3>
  <h3 ng-if="!domain" class='validator-show-domain'>Is this your validator? <a style='text-decoration:underline; font-weight:bold' href='https://ripple.com/build/rippled-apis/rippled-setup/#domain-verification' target='_blank'>Verify Domain</a></h3>
  <h2>Historical Performance</h2>
</div>

<div class='row'>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th>Date</th>
        <th>Agreement Coefficient</th>
        <th>Disagreement Coefficient</th>
        <th>Total Validations</th>
      </tr>
    </thead>
    <tr ng-repeat="report in reports">
      <td>{{report.date}}</td>
      <td>{{report.entries[0].agreement_coefficient.toFixed(5)}}</td>
      <td>{{report.entries[0].disagreement_coefficient.toFixed(5)}}</td>
      <td>{{report.entries[0].validations}}</td>
    </tr>
  </table>
</div>

